.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  gap: 16px
}

.tabs {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 30px;
}

.tabBtn {
  flex: 1;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  min-height: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  border-bottom: 2px solid #ddd;
}

.deleteBtn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  width: 350px;
}

.modalContent h2 {
  margin-bottom: 10px;
}

.modalContent input,
.modalContent button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.modalContent button {
  background-color: #4CAF50; /* green */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.modalContent button.cancelButton {
  background-color: #ff4d4d; /* red */
}